.helper-text {
    font-size: 10px;
    position: relative;
    display: block;
    min-height: 18px;
}

.helper-text::after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.avatar {
    max-width: 40px;
}

.search-result::-webkit-scrollbar {
    display: none;
}

.search-result {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.datepicker > .datepicker-days {
    display: block !important;
}
